<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="methods" thread-count="2"> <!-- Set parallel execution for tests -->
  <test name="Test">
    <classes>
      <class name="com.example.javaTraining.SampleTest"/>
      <!-- Add more classes if needed -->
    </classes>
  </test> <!-- Test -->
  
  <listeners>
    <listener class-name="com.example.listeners.ExtentReportListener" />
  </listeners>
</suite> <!-- Suite -->